.intro-scene{

    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#08111f;

}

.intro-container{

    text-align:center;
    padding:40px;

}

.intro-title{

    font-size:62px;
    color:white;

    opacity:0;

    transition:1s ease;

}

.intro-subtitle{

    margin-top:30px;

    font-size:22px;

    color:#c7cedb;

    opacity:0;

    transition:1s ease;

}

.visible{

    opacity:1;

}